.adobe
.android
.DS_Store
.CFUserTextEncoding
.MacOSX
.Trash
.ssh
.gem
.ghc
.cabal
*_history
.npm
.netbeans
.subversion
.Rhistory
.rstudio-desktop/
.viminfo
.lesshst
.ivy2
.cups
.npmrc
.kindle
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Workspaces/
