[submodule "Library/Application Support/TextMate/Bundles/Groovy.tmbundle"]
	path = Library/Application Support/TextMate/Bundles/Groovy.tmbundle
	url = https://github.com/textmate/groovy.tmbundle.git
[submodule "Library/Application Support/TextMate/Bundles/Scala.tmbundle"]
	path = Library/Application Support/TextMate/Bundles/Scala.tmbundle
	url = https://github.com/mads379/scala.tmbundle.git
