[user]
	name = Ionuț G. Stan
	email = ionut.g.stan@gmail.com
[color]
	ui = auto
[core]
	pager = less -FXRS -x4
	excludesfile = /Users/igstan/.gitexclude
	editor = sublime -wb
	quotepath = false
[alias]
	st = status
	stu = status -u
	sut = status -u
	graph = log --oneline --all --graph --decorate
	recommit = commit --amend -aC HEAD
	one = log --oneline
	unstage = reset HEAD
	ignore = !git update-index --assume-unchanged
	unignore = !git update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep ^[a-z]
	cached-diff = diff --cached
	diff-stash = stash show -p
[svn]
	rmdir = true
[branch "master"]
	rebase = true
[push]
	default = upstream
