*_history
*history

.adobe
.android
.cabal
.ceylon/
.CFUserTextEncoding
.clj_completions
.cups
.dropbox
.DS_Store
.eclipse_keyring
.erlang.cookie
.fontconfig/
.g8
.gem
.ghc
.gradle/
.groovy
.heroku/credentials
.hgignore_global
.irb-history
.ivy2
.jline-clojure.main.history
.jrebel/
.kindle
.kod/
.lein
.lesshst
.m2
.MacOSX
.netbeans
.nide
.npm
.npmignore
.npmrc
.octave_hist
.pgadmin_histoqueries
.pgpass
.pip
.Rhistory
.rstudio-desktop/
.rvm/
.rvmrc
.sbt
.sbt.cache.lock
.ssh
.subversion
.subversion_IDEA/
.tor
.Trash
.viminfo
.Xauthority

Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Workspaces/

# Exclude everything inside Library/ except TextMate's Bundles and Themes dirs
Library/*
!Library/Application Support/

Library/Application Support/*
!Library/Application Support/TextMate/

Library/Application Support/TextMate/*
!Library/Application Support/TextMate/Bundles
!Library/Application Support/TextMate/Themes
