[user]
	name = Ionuț G. Stan
	email = ionut.g.stan@gmail.com
[color]
	ui = auto
[core]
	pager = less -FXRS -x4
[alias]
	st = status
	stu = status -u
	graph = log --oneline --all --graph --decorate
	recommit = commit --amend -aC HEAD
	one = log --oneline
	unstage = reset HEAD
[push]
	default = tracking
[svn]
	rmdir = true
