*history

.adobe
.android
.cabal
.ceylon/
.CFUserTextEncoding
.clj_completions
.cups
.dropbox
.DS_Store
.eclipse_keyring
.erlang.cookie
.fontconfig/
.g8
.gem
.ghc
.gradle/
.groovy
.heroku/credentials
.hgignore_global
.igstanrc
.ivy2
.jrebel/
.kindle
.kod/
.lein
.lesshst
.m2
.MacOSX
.netbeans
.nide
.npm
.npmignore
.npmrc
.octave_hist
.pgadmin_histoqueries
.pgpass
.pip
.rstudio-desktop/
.rvm/
.rvmrc
.sbt
.sbt.cache.lock
.ssh
.subversion
.subversion_IDEA/
.tor
.Trash
.viminfo
.Xauthority

Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Workspaces/
