[user]
	name = Ionuț G. Stan
	email = ionut.g.stan@gmail.com
[color]
	ui = auto
[core]
	editor = mate -wn
[alias]
	st = status
	stu = status -u
	graph = log --oneline --all --graph --decorate
	recommit = commit --amend -aC HEAD
	one = log --oneline
