set completion-ignore-case on
set blink-matching-paren on

# set editing-mode vi
# set keymap vi

# https://coderwall.com/p/oqtj8w
# "\e[A": history-search-backward
# "\e[B": history-search-forward
# set show-all-if-ambiguous on
